In [1]:
import pandas as pd

In [9]:
users = []
items = []
with open('users.dat', 'r') as f:
    for i, l in enumerate(f.readlines()):
        items_u = list(map(int, l.strip().split(' ')))
        users.extend([i] * len(items_u))
        items.extend(items_u)

In [13]:
df = pd.DataFrame(dict(user_id=users, item_id=items))
df.head()

   user_id  item_id
0        0       70
1        0      495
2        0     1631
3        0     2317
4        0     2526

In [14]:
df.to_csv('citeulike-a.csv', sep='\t', index=False)